*, 
html {
    margin: 0;
    padding: 0;
}

.container {}

.container-navbar {
    background-color: greenyellow;
    width: 100%;
    height: 17.5vh;
}

.ul-navbar {
display: flex;
height: 100px;
justify-content: center;
align-items: center;
}

.li-navbar {
list-style-type: none;
padding: 20px;
margin: 5px;
color: white;
font-size: 30px;
}

.li-navbar:hover{
    background-color: gray;
    transition: .5s ease-in-out;
    border-radius: 8px;
}

.a-navbar {
    color: black;
    text-decoration: none;
}

.container-content {
    background-color: black;
    display: flex;
    height: 240px;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: white;
    color: teal;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 9px 21px -1px rgba(255,44,0,0.68);
-webkit-box-shadow: 10px 9px 21px -1px rgba(255,44,0,0.68);
-moz-box-shadow: 10px 9px 21px -1px rgba(255,44,0,0.68);
}

.img-content {
    width: 200px;
    height: 240px
}

.container-footer {
    height: 10vh;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-h1footer {
    font-size: 30px;
}